#!/usr/bin/make -f
#								-*- makefile -*-
# debian/rules file for the Debian/GNU Linux r-other-reaktanz-korpus package
# Copyright 2015 by m.eik michalke <meik.michalke@hhu.de>

debRreposname := other-reaktanz

include /usr/share/R/debian/r-cran.mk
